.menu {
    li {
        margin: 0;
        font-family: arial, sans-serif;
        padding: 5px 6px 3px 6px;
        display: inline-block;
        font-size: 1em;
        border-bottom: 3px solid @color_5;
        a {
            color: @color_white;
            text-decoration: none;
            letter-spacing: 1px;
        }
        &.selected {
            border-bottom: 3px solid @color_2;
        }
        &.right {
            float: right;
        }
    }
}
