{% extends "base.html" %}
{% load compressed %}

{% block title %}Streams - {{ block.super }}{% endblock %}

{% block css %}
    {% compressed_css 'streams' %}
{% endblock %}

{% block menu %}
{% include 'menu.html' with current='streams' %}
{% endblock %}

{% block content %}
<div class="content">
    <table>
    <tr><th>Title</th><th>Description</th><th>Status</th></tr>
    {% for stream in streams %}
        <tr><td><a href="{% url 'tasks-stream' stream.id %}">{{ stream.title }}</a></td><td>{{ stream.description }}</td><td>{{ stream.get_status_display }}</td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
