{% extends "base.html" %}
{% load compressed %}

{% block title %}{{ stream.title }} - {{ block.super }}{% endblock %}

{% block css %}
    {% compressed_css 'stream' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'stream' %}
{% endblock %}

{% block menu %}
{% include 'menu.html' with current='streams' %}
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="js-stream-title" data-id="{{ stream.id }}">{{ stream.title }}</h1>
    <p>{{ stream.description }}</p>
    <label for="stream-status">Status:</label>
    <select id="stream-status" class="js-stream-status">
        {% for option in stream.STATUS_CHOICES %}
            <option value="{{ option.0 }}">{{ option.1 }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}
