@import "base.less";
@import "parts/menu.less";

.login-form {
    margin-top: 5px;
    padding: 5px;
    background-color: @color_1;
    .errorlist, .common-errors {
        font-size: 0.8em;
    }
}
