@import "base.less";
@import "parts/menu.less";

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px;
    background: @color_1;
    color: @color_black;
}

p {
    padding: 10px 0;
}
