{% load static from staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Sakuraso{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block menu %}
    {% endblock %}
    {% block notifications %}
        <div class="js-notifications notifications"></div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block js %}
        {% compressed_js 'base' %}
        <script>
            jQuery(function ($) {
                var sakuraso = {};
                if (this.sakuraso !== undefined) {
                    sakuraso = this.sakuraso;
                } else {
                    this.sakuraso = sakuraso;
                }
                sakuraso.vars = {
                    csrfToken: "{{ csrf_token }}",
                    streamStatusChangeURL: "{% url 'tasks-stream-status-change' %}",
                }
            });
        </script>
    {% endblock %}
</body>
</html>
