{% extends "base.html" %}
{% load compressed %}

{% block css %}
    {% compressed_css 'login' %}
{% endblock %}

{% block content %}
<ul class="menu">
    <li class="selected"><a href="{% url 'login' %}">login</a></li>
</ul>

<div class="login-form">
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="common-errors">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<form action="." method="post">{% csrf_token %}
    <div class="form-row">
        {{ form.username.errors }}
        {{ form.username }}
    </div>
    <div class="form-row">
        {{ form.password.errors }}
        {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <div class="submit-row">
        <input type="submit" value="Log in" />
    </div>
</form>
</div>
{% endblock %}
