{% spaceless %}
<ul class="menu">
    <li{% if current == 'dashboard' %} class="selected"{% endif %}><a href="{% url 'tasks-dashboard' %}">dashboard</a></li>
    <li{% if current == 'tasks' %} class="selected"{% endif %}><a href=".">tasks</a></li>
    <li{% if current == 'streams' %} class="selected"{% endif %}><a href="{% url 'tasks-streams' %}">streams</a></li>
    <li class="right"><a href="{% url 'logout' %}">logout</a></li>
</ul>
{% endspaceless %}
